@mixin notes-card-text-properties($opacity) {
  overflow: hidden;
  opacity: $opacity;
}

.notesCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  
  .heading {
    font-weight: 500;
    @include notes-card-text-properties(1);
    @extend .margins;
  }
  .summary {
    @include notes-card-text-properties(0.6);
    @extend .margins;
  }
  .tag {
    @include notes-card-text-properties(0.4);
    @extend .margins;
  }

  &:hover {
    background-color: #d8d8d8;
  }
}

.margins {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
