html,
body {
  background:
  linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
  linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
  linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
  linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
  linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
  linear-gradient(-90deg, #aaa 1px, transparent 1px),
  linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
  linear-gradient(#aaa 1px, transparent 1px),
  #f2f2f2;
background-size:
  4px 4px,
  4px 4px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px;
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
}
