nav {
    width: 18rem;
    border-right: black solid 1px;
    border-color: rgba(238,239,242,1);
    position: relative;
    flex: none;
    border-right-width: 1px;
    overflow-y: auto;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    background-color: white;
}

.nav-category {
    opacity: 0.4;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}